[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-keycloak = "~=4.7.0"
pyyaml = "~=6.0.1"
types-pyyaml = "~=6.0.12.11"
python-decouple = "~=3.8"
loguru = "~=0.7.2"
beautifulsoup4 = "~=4.12.2"
httpx = "~=0.25.0"
python-schema-registry-client = "~=2.4.3"
orjson = "~=3.10.0"
typing-extensions = "~=4.10.0"
stellanow-api-internals = "~=0.0.3"


[dev-packages]
autoflake = "*"
isort = "~=5.13.2"
vulture = "*"
black = "22.12.0"
ipython = "*"
mypy = "*"
autopep8 = "*"
pytest = "*"
pylint = "*"
ruff = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
